<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd"
		default-lazy-init="true">

	<!-- JDBC database connection configuration file -->
	<context:property-placeholder location="classpath*:jdbc.properties" />
<!--	<context:property-placeholder location="classpath*:jdbc_marin.properties" />-->

	<!-- JDBC DataSource configuration -->
	<bean id="jdbcDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${driver}" />
		<property name="url" value="${url}" />
		<property name="username" value="${username}" />
		<property name="password" value="${password}" />
	</bean>

	<!-- DBCP DataSource configuration -->
	<bean id="dbcpDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${driver}" />
		<property name="url" value="${url}" />
		<property name="username" value="${username}" />
		<property name="password" value="${password}" />

		<property name="maxActive" value="10" />
		<property name="minIdle" value="3" />
		<property name="defaultReadOnly" value="true" />
		<property name="validationQuery" value="select count(*) from FLICKR_DE_WEST_TABLE_COUNT" />
	</bean>

	<!-- C3P0 DataSource configuration -->
	<bean id="c3p0DataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${driver}" />
		<property name="jdbcUrl" value="${url}" />
		<property name="user" value="${username}" />
		<property name="password" value="${password}" />

		<property name="maxPoolSize" value="10" />
		<property name="minPoolSize" value="3"></property>
	</bean>

	<!-- BoneCP DataSource configuration -->
	<bean id="bonecpDataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
		<property name="driverClass" value="${driver}" />
		<property name="jdbcUrl" value="${url}" />
		<property name="username" value="${username}" />
		<property name="password" value="${password}" />

		<property name="maxConnectionsPerPartition" value="3" />
		<property name="minConnectionsPerPartition" value="1" />
		<property name="partitionCount" value="3" />
	</bean>

	<!-- Oracle Implicit Connection Caching(ICC) DataSource configuration -->
	<bean id="oracleIccDataSource" class="oracle.jdbc.pool.OracleDataSource" destroy-method="close">
		<property name="connectionCachingEnabled" value="true" />
		<property name="URL" value="${url}" />
		<property name="user" value="${username}" />
		<property name="password" value="${password}" />

		<property name="connectionCacheProperties">
			<props>
				<prop key="MaxLimit">10</prop>
				<prop key="MinLimit">3</prop>
			</props>
		</property>
	</bean>

	<!-- JNDI DataSource configuration -->
	<bean id="jndiDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
      	<property name="jndiName" value="java:comp/env/jdbc/OracleCP"/>
      	<property name="resourceRef" value="true" />
	</bean>

	<!-- DataSource Selector -->
	<bean id="db" class="de.fraunhofer.iais.spatial.dao.jdbc.DB">
		<property name="dataSource" ref="oracleIccDataSource" />
	</bean>

	<!-- Mybatis configuration -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="jndiDataSource" />
		<property name="configLocation" value="classpath:mybatis-config.xml" />
	</bean>
	<bean id="sessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<!-- FlickrDeWest -->
	<bean id="flickrDeWestAreaDaoJdbcImpl" class="de.fraunhofer.iais.spatial.dao.jdbc.FlickrDeWestAreaDaoJdbc">
		<property name="db" ref="db" />
	</bean>
	<bean id="flickrDeWestAreaDaoMybatisImpl" class="de.fraunhofer.iais.spatial.dao.mybatis.FlickrDeWestAreaDaoMybatis">
		<property name="sessionTemplate" ref="sessionTemplate" />
	</bean>
	<bean id="flickrDeWestAreaMgr" class="de.fraunhofer.iais.spatial.service.FlickrDeWestAreaMgr">
		<property name="areaDao" ref="flickrDeWestAreaDaoJdbcImpl" />
	</bean>

</beans>