 /*#container {
	 font-size: 13px; 

	/*width:70%; margin-left:30%; margin-right:0%;
				margin-top:400px;				*/
/*	margin-left:1%;
	margin-top:1%;
	position: absolute;

	left: 40%;
	right: 10%;
	width: 50%;

	bottom: 5%;
	top: 65%;
	height: 30%;
	z-index: 11;
	opacity: 0.9;
}
/*
#container a {
	text-decoration: none;
}

#container li img {
	border: 0;
}

#container .intro {
	background-color: #A7BDF7;

	margin: 0px 14px 0px 4px;
	width: 202px;
}

#container .item {
	background-color: #A7BDF7;

	margin: 0 22px 0 12px;
	overflow: hidden;
	padding-right: 80px;
	width: 106px;
}

/*authimg is for catching exactly 3 */
/* #container .item .authimg {
	bottom: 2px;
	margin-left: 61px;
	position: absolute;
	z-index: 1;
}

#container .item h3 {
	line-height: 85%;
	margin-top: 4px;
}

#container .item h3 a {
	font: 77% Arial, sans-serif;
	position: relative;
	text-transform: uppercase;
	z-index: 2;
}

#container .item h3 a:link {
	color: #35a235;
}

#container .item h4 {
	margin-top: 5px;
}

#container .item h4 a {
	font: 100% Georgia, Times, serif;
	position: absolute;
	z-index: 2;
}

#container .item h4 a:link {
	color: #00639b;
}

#container .item cite {

	font-size: 77%;
	line-height: normal;
	margin-bottom: 30px;
}

#container .item p.all {
	bottom: 25px;
	position: absolute;
	z-index: 2;
	top: 0;
}

#container .item p.all a {
	font-weight: bold;
	font-size: 85%;
}

a[role=button]:focus {
	outline: dotted 1px #000;
}

.carouselTitle {
	margin-bottom: 0px;
	text-align: center;
}

*/