
/*
.histogramDiv{
  position: relative;
} */
.spanElement {
	position: relative; /*this is the key*/
	z-index: 24;
	background-color: #ccc;
	color: #000;
	text-decoration: none
}

.spanElement:hover {
	z-index: 25;
	background-color: #ff0
}

.spanElement span {
	display: none
}



.spanElement:hover span { /*the span will display just on :hover state*/
	display: block;
	position: absolute;
	top: 1em;
	left: 2em;
	width: auto;
	border: 1px solid #0cf;
	background-color: #cff;
	color: #000;
	text-align: left
}




.histogramInfoButton{
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url(../images/exchange.png) no-repeat center #eef;
}

.histogramInfoButton:hover{
   background-color: #ffffee;
}

.hystogrammDivInfo{
	cursor: pointer;
}

.histogramDiv{
    margin-top:70px;
    cursor: pointer;
}
#table7{


}


/*+++++++++++++++++++++++++++++++++++++++++++++++*/
#parent1{
	width: auto;
	height: 110px;
}

.histogramInfoButtons1{
	width: auto;
	height: auto;
	margin-top:68px;
	margin-left:6px;
	margin-left:4px;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++*/

#parent2{
	width: auto;
	height: 110px;
}

.histogramInfoButtons2{
	width: auto;
	height: auto;
	margin-top:35px;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++*/

#parent3{
	width: auto;
	height: 110px;
}
.histogramInfoButtons3{
	width: auto;
	height: auto;
	margin-top:35px;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++*/

#parent4{
	width: auto;
	height: 110px;
}


.histogramInfoButtons4{
	width: auto;
	height: auto;
	margin-top:35px;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++*/


#parent5{
	width: auto;
	height: 110px;
}

.histogramInfoButtons5{
	width: auto;
	height: auto;
	margin-top:35px;
}


/*+++++++++++++++++++++++++++++++++++++++++++++++*/
#histogramContent{
	width: auto;
	height: auto;
}
